<app-navbar></app-navbar>
<app-side-nav></app-side-nav>
<body>
  <div class="container-fluid">
    <div class="container">
      <!-- Course Card -->
      <div class="row">
        <div class="col-md-4">
          <div class="card">
            <img
              src="course-image.jpg"
              class="card-img-top"
              alt="Course Image"
            />
            <div class="card-body">
              <h5 class="card-title">Course Title</h5>

              <a href="#" class="btn btn-primary">Enroll Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img
              src="course-image.jpg"
              class="card-img-top"
              alt="Course Image"
            />
            <div class="card-body">
              <h5 class="card-title">Course Title</h5>

              <a href="#" class="btn btn-primary">Enroll Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img
              src="course-image.jpg"
              class="card-img-top"
              alt="Course Image"
            />
            <div class="card-body">
              <h5 class="card-title">Course Title</h5>

              <a href="#" class="btn btn-primary">Enroll Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
